<link rel="stylesheet" type="text/css" href="style.css">
<div class="wrap">
  <div class="container"></div>
  <div class="overlay">
    <h1>{ Hi, this is Adam }</h1>
    <h2>I like to make things.</h2>
    <h3><tt>I think code is beautiful.</tt></h3>
    <center><div class="arrow-up"></div></center>
  </div>
  <div id="paper">
    <p>
      I am a Software developer. I live in
      <a href="http://en.wikipedia.org/wiki/Santa_Barbara,_California">Santa Barbara, CA</a>,
      but I am currenty working in <a href="https://en.wikipedia.org/wiki/Boulder,_Colorado">Boulder, CO</a>.
      I graduated from <a href="http://westmont.edu/">Westmont College</a> with a degree in Computer Science and Psychology Neuroscience.
    </p>
    <p>
      I am in love with Ruby,
      but every day Haskell threatens to steal my heart.
    </p>
    <p>
      For me this is a place where I can write a more interesting <tt>README</tt> for my projects.
      I want to tell people about things that I am making and there is where I would like to do it.
    </p>
    <hr/>
    <% posts.each do |post| %>
      <h3 class="article-title"><a href="read/<%= post.name %>"><%= post.name %></a> </h3>
      <small><%= post.time %></small>
    <% end %>
  </div>
</div>
<footer class="container short">
  <p class="right-pull"><a href="https://twitter.com/theHessParker">Twitter</a> <a href="https://github.com/HParker">Github</a> <a href="https://www.linkedin.com/pub/adam-hess/65/b20/61b">Linkedin</a></p>
</footer>
