<link rel="stylesheet" type="text/css" href="style.css">
<div class="container">
    <video class="blur" width="960" autoplay muted loop>
        <source src="backdrop.ogg" type="video/ogg">
    </video>
</div>
<div class="overlay">
    <h1>Hi, this is Adam,</h1>
    <h2>I like to make things.</h2>
    <h3><tt>because code is beautiful.</tt></h3>
</div>
<div id="paper">
    <h3>So, a little about me:</h3>
    <p>
        I write for computers. Sometimes I get paid for it. I live in
        <a href="http://en.wikipedia.org/wiki/Santa_Barbara,_California">Santa Barbara, CA</a>.
        I am in love with Ruby,
        but every day Haskell threatens to steal my heart.
        Rust is on my list, but not today, Rust, not today.
    </p>
    <p>
        <tt>Ruby for fun, Python gets shit done and haskell for doing nothing.</tt>
    </p>
    <h1>You will have to imagine a blog here.</h1>
    <h3>Trust me. It <strike>will</strike> might happen.</h3>
</div>
