body {
    margin: 0px 120px 0px 120px;
    padding: 0px 20px 0px 20px;
    border-color: #F0F0F0;
    border-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
}

h1, h2, h3 {
    font-family: 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: lighter;
    letter-spacing: -1px;
    line-height: 1;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}

.header a, .header a:visited {
    color: #989898;
}

h1 {
    font-size: 64;
}

h2 {
    font-size: 37;
}

h3 {
    font-size: 32;
    text-align: left;
}

p, a {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 21;
    font-weight: 200;
    text-decoration: none;
}

#TOC {
    border-left: solid thick #F0F0F0;
}

#TOC li {
    list-style-type: none;
}

#TOC li a {
    text-decoration: none;
}

.sourceCode {
    background-color: #F0F0F0;
    padding-left: 10px;
}