body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

#paper {
  width: 960px;
  margin: 10 auto;
  border-color: #F0F0F0;
  border-width: 1;
  border-right-style: solid;
  border-left-style: solid;
  padding: 32;
}

#paper a {
    text-decoration: none;
    color: #779ECB;
}

#paper a:visited {
    text-decoration: none;
    color: #330099;
}


.overlay {
    left: 0;
    position:absolute;
    text-align:center;
    top: 70px;
    width: 100%
}

.container {
  height: 280px;
  width: 100%;
  overflow: hidden;
  background-color: #779ECB;
}

.right-pull {
    text-align: right;
}

.container p, a {
    padding: 10px;
    color: white;
}

.short {
    height: 100px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;

	border-bottom: 60px solid #C0C0C0;
}

.article-title {
  margin-bottom: 10px;
}

.overlay h1, .overlay h2, .overlay h3, .overlay tt {
  font-weight: lighter;
  color: white;
  margin: 10;
  text-align: center;
}

video.blur {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
  color: black;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 64;
}

h2 {
  font-size: 37;
}

h3 {
  font-size: 32;
  text-align: left;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 21;
  font-weight: 200;
}
