body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

#paper {
  width: 960px;
  margin: 10 auto;
  border-color: #F0F0F0;
  border-width: 1;
  border-right-style: solid;
  border-left-style: solid;
  padding: 32;
}

.overlay {
    left: 0;
    position:absolute;
    text-align:center;
    top: 96px;
    width: 100%
}

.container {
  height: 280;
  width: 100%;
  overflow: hidden;
}
.container video { width: 100%; }

.article-title {
  margin-bottom: 10px;
}

.overlay h1, .overlay h2, .overlay h3, .overlay tt {
  font-weight: lighter;
  color: white;
  margin: 10;
  text-align: center;
}

video.blur {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', sans-serif;
  color: black;
  font-weight: lighter;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 64;
}

h2 {
  font-size: 37;
}

h3 {
  font-size: 32;
  text-align: left;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 21;
  font-weight: 200;
}
